# dependencies
node_modules

# logs
npm-debug.log
yarn-debug.log
yarn-error.log
selenium-debug.log

# Nuxt build
.nuxt

# PWA
sw.*

# Nuxt generate
dist

# test
test/unit/coverage
test/e2e/reports

.DS_Store
