[submodule "backend/addons/BackupAndRestore"]
	path = backend/addons/BackupAndRestore
	url = https://github.com/pauloamgomes/BackupAndRestore.git
[submodule "backend/addons/Detektivo"]
	path = backend/addons/Detektivo
	url = https://github.com/agentejo/Detektivo.git
[submodule "backend/cockpit"]
	path = backend/cockpit
	url = https://github.com/agentejo/cockpit.git
