// Customizations
$font-family-sans-serif:      -apple-system, Quicksand, Lato, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$body-bg:       #fff;
$body-color:    #637485;
$primary:       #00a6d9;
// $secondary:     #fff;
// $light:         #00a6d9;
// $dark:          #577492;

$enable-shadows:            false;
$enable-gradients:          true;
$enable-transitions: true;

$navbar-dark-color:                 rgba(#fff, .9);
$navbar-dark-hover-color:           rgba(#fff, .75);
$navbar-dark-active-color:          #fff;

@import "node_modules/bootstrap/scss/bootstrap";

/* app.scss */

// nuxt page transition
.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
