// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Quicksand);

// Customizations
$font-family-sans-serif:
  Quicksand,
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$body-bg:       #fff;
$body-color:    #637485;
$primary:       #00a6d9;
// $secondary:     #fff;
$light:         #f5f8fa;
$dark:          #343a40;

$enable-shadows:            false;
$enable-gradients:          true;
$enable-transitions: true;

$navbar-dark-color:                 rgba(#fff, .9);
$navbar-dark-hover-color:           rgba(#fff, .75);
$navbar-dark-active-color:          #fff;

@import "node_modules/bootstrap/scss/bootstrap";

/* app.scss */

// nuxt page transition
.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

@include media-breakpoint-down(md) {
  .fluid-md {
    width: 100%;
    max-width: none;
  }
}

@include media-breakpoint-down(lg) {
  .fluid-lg {
    width: 100%;
    max-width: none;
  }
}

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}

.accented::after {
  content: '';
  display: block;
  border-bottom: 1px solid #dadada;
  width: 8em;
  height: 1px;
}

.hmin-stronaksi {
  min-height: calc(100vh - 157px /* for header */ - 334px /* for footer */);
}

///
/// Fancy slant
///
@import '~assets/scss/utils';

$slant-angle: 1.25deg;
$slant-padding: 1.5em;

.slant-in-before {
  @include angle(before, true, $slant-angle);
}
.slant-in-after {
  @include angle(after, true, $slant-angle);
}
.slant-in-both {
  @include angle(both, true, $slant-angle);
}

.pt-slant {
  padding-top: $slant-padding !important;
}
.pb-slant {
  padding-bottom: $slant-padding !important;
}


$link-color: #00a6d9;
$linkicon-border: rgba($primary, 0.25);

.pretty-link {
  color: $link-color;
  text-decoration: none;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  &:before {
    border-radius: 100%;
    border: solid 2px $linkicon-border;
    content: '\f105';
    display: inline-block;
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    line-height: 1.65rem;
    margin-right: 0.85rem;
    text-align: center;
    text-indent: 0.15rem;
    vertical-align: middle;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }
}
